.fashionapp-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .fashionapp-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
  }
  .sidenav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
  }

  .button{
    border: none;
    border-radius: 24px;
    color: white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto;
    transition-duration: 0.4s;
    cursor: pointer;
    }

    .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #796b6b;
    margin-right: 8px;
    margin-left: 15px;
  }
  
  .button1:hover {
    background-color: #e6cdcd;
    color: white;
  }
  
  