<html>


  <body style="background-image: url('assets/bg1.jpg'); background-size: cover; background-position: center;">
  <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 80px; font-weight:bolder; 
    padding: 50px; color:#ffffff; text-align: center; text-shadow:6px 2px 1px #463f3a">Book Catalogue</h1>
    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 80px; font-weight:bolder; 
    padding: 50px; color:#ffffff; text-align: center; text-shadow:6px 2px 1px #463f3a">Fashion Online Store</h1>
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 45px; font-weight:bold; text-align:center; 
    padding: 20px; color:#f06210; text-shadow:6px 2px 3px #d9dbd3;">Hiii.... WELCOME TO MY APPLICATION</p>
    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 45px; font-weight:bold; text-align:center;
    padding: 30px; color:#f06210; text-shadow:6px 2px 3px #d9dbd3;">HAPPY TRYING !!!</h2>
    
    
    <button mat-raised-button color="warn" routerLink="/login" style="margin-left: 420px; ">LOGIN</button>
    <button mat-raised-button  routerLink="/register" style="margin-left: 330px; ">REGISTER</button>
 
</body>
</html>

