<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://user-images.githubusercontent.com/82657336/122644991-1d075a80-d142-11eb-89e6-648217fe9358.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3 style="color:#ffffff; font-family: Mate; font-size: xx-large; font-weight: bolder; text-shadow:6px 2px 3px #f77f00;" >
        First Catalogue</h3>
      <p style="color: #9b2226; font-weight: bolder; background-color:rgb(252, 252, 252)">WE SELL THE BEST PRODUCT</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://user-images.githubusercontent.com/82657336/122644994-1f69b480-d142-11eb-98de-2397bd5e173d.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3 style="color:#4d194d; font-family: Bodoni Moda; font-size: xx-large; font-weight: bolder; 
      text-shadow:6px 2px 3px #9a8c98;">Second Catalogue</h3>
      <p style="color: #7209b7; font-weight: bolder; 
      background-color:rgb(252, 252, 252) ">WE SELL THE BEST FASHIONABLE PRODUCT</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://user-images.githubusercontent.com/82657336/122644998-21337800-d142-11eb-91ba-46d1b6cad44d.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3 style="color:#ffffff; font-family: Bodoni Moda; font-size: xx-large; font-weight: bolder; 
      text-shadow:6px 2px 3px #343a40;">Third Catalogue</h3>
      <p style="color: #2a9d8f; font-weight: bolder; background-color:rgb(252, 252, 252)">TRUSTED SHOP</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://user-images.githubusercontent.com/82657336/122645000-2264a500-d142-11eb-996d-29106101fe98.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3 style="color:darkslategrey; font-family: Bodoni Moda; font-size: xx-large; font-weight: 
      bolder; text-shadow:6px 2px 3px #ffffff;">Fourth Catalogue</h3>
      <p style="color: #0081a7; font-weight: bolder; background-color:rgb(252, 252, 252)">WE SELL THE GOOD QUALITY PRODUCT</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="header">
<button class="button button1" routerLink="/fashionapp/addproduk">NEXT</button>
</div>
